h2 {
    padding: 15px;
    font-size: x-large;
    color: black;
}
.contentPage {
    display: flex;
    align-items: center;
}
.cadastrar-container {
    align-content: center;
    text-align: center;
    padding: 20px  30px ;
    width: 200px;
    background-color: rgba(0, 0, 255, 0.527);
    border-radius: 15px;
}
button {
   margin-left: 10px;
}