<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" [(ngModel)]="formDataAtivo.nome" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Quantidade em Estoque</mat-label>
    <input matInput type="number" placeholder="Quantidade em Estoque" [(ngModel)]="formDataAtivo.qntEstoque" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor do Item</mat-label>
    <input matInput type="number" placeholder="Valor do Item" [(ngModel)]="formDataAtivo.valorItem" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data Aquisição</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="formDataAtivo.data_aquisicao">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status do Ativo</mat-label>
    <input matInput placeholder="Status do Ativo" [(ngModel)]="formDataAtivo.statusAtivo" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Descrição" [(ngModel)]="formDataAtivo.descricao" required></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="formDataCategoria.nome" required>
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Outros campos comuns aqui... -->

  <!-- Caixa de seleção para escolher o tipo de produto -->
  <mat-form-field appearance="fill">
    <mat-label>Tipo de Produto</mat-label>
    <mat-select [(ngModel)]="selectedType" required>
      <mat-option value="ativoFisico">Ativo Físico</mat-option>
      <mat-option value="software">Software</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Campos específicos para Ativo Físico -->
  <div *ngIf="selectedType === 'ativoFisico'">
    <!-- Campos específicos para Ativo Físico aqui -->
    <!-- Por exemplo: -->
  <mat-form-field appearance="fill">
    <mat-label>Responsavel</mat-label>
    <mat-select [(ngModel)]="formDataUser.id_user" required>
      <mat-option *ngFor="let users of usuarios" [value]="users.id_user">{{ users.nome }}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <!-- Campos específicos para Software -->
  <div *ngIf="selectedType === 'software'">
    <!-- Campos específicos para Software aqui -->
    <!-- Por exemplo: -->
    <mat-form-field appearance="fill">
      <mat-label>Versão</mat-label>
      <input matInput placeholder="Versão" [(ngModel)]="formDataSoftware.versao" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Escolha uma data</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Outros campos específicos para Software aqui... -->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fechar</button>
  <button mat-raised-button color="primary" (click)="saveProduct()">Salvar</button>
</div>