.example-spacer {
    flex: 1 1 auto;
}

.NavBar-all {
    position: relative;
}

.upBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Certifique-se de que a barra superior esteja acima da barra lateral */
}

.NavBar {
    position: fixed;
    top: 62px;
    /* Altura da barra superior */
    left: 0;
    height: calc(100% - 62px);
    /* Ajuste para a altura da barra superior */
    width: 250px;
    /* largura da barra lateral */
    background-color: #333;
    /* cor de fundo da barra lateral */
    color: #fff;
    /* cor do texto */
    display: flex;
    flex-direction: column;
    z-index: 100;
    /* Certifique-se de que a barra lateral esteja abaixo da barra superior */
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.content {
    margin-left: 250px;
    /* largura da barra lateral */
    margin-top: 62px;
    /* Altura da barra superior */
    transition: margin-left 0.3s ease;
    /* Adicione uma transição suave */

}

.contentPushed {
    margin-left: 250px;
    /* Ajuste conforme a largura da navegação */
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.NavBar mat-toolbar {
    background-color: #444;
    /* cor de fundo da barra horizontal */
    color: #fff;
    /* cor do texto da barra horizontal */
    display: flex;
    justify-content: space-between;
}

.NavBar span {
    margin: 0 10px;
}

.NavBar mat-icon-button {
    color: #fff;
    /* cor dos ícones */
}

.menu-item {
    padding: 10px;
}

.menu-item:hover {
    background-color: #555;
    /* cor de fundo ao passar o mouse */
}